.checked {
    color: #ccc;
    text-decoration: line-through;
    font-style: italic;
  }
  
  .fa {
    margin: 0 5px;
    color: #bbb;
  }
  
  .fa:hover {
    color: red;
  }
  
  li>label[for='todo'] {
    width: 210px;
  }
  
  li>label[for='todo']:hover {
    color: #17A2B8;
  }